# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
city_data_df = pd.read_csv("output_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,barrow,71.2906,-156.7887,-23.80,62,90,10.36,US,1612496250
1,1,qaanaaq,77.4840,-69.3632,-17.95,63,74,8.28,GL,1612496370
2,2,hami,42.8000,93.4500,35.83,71,0,2.91,CN,1612496370
3,3,tiksi,71.6872,128.8694,-15.20,90,100,9.80,RU,1612496140
4,4,tuktoyaktuk,69.4541,-133.0374,-31.00,68,40,10.36,CA,1612496370

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key=g_key)

In [5]:
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [10]:
narrow_city_df = city_data_df.loc[(city_data_df["Max Temp"] < 80) & (city_data_df["Max Temp"] > 70) \
                                    & (city_data_df["Wind Speed"] < 10) \
                                    & (city_data_df["Cloudiness"] == 0)].dropna()

narrow_city_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,7,diphu,25.8333,93.4333,74.73,41,0,2.37,IN,1612496371
78,78,takoradi,4.8845,-1.7554,78.67,89,0,7.11,GH,1612496132
208,208,imbituba,-28.2400,-48.6703,73.40,73,0,8.05,BR,1612496418
236,236,iseyin,7.9667,3.6000,72.19,93,0,1.74,NG,1612496424
345,345,oussouye,12.4850,-16.5469,71.60,88,0,6.91,SN,1612496327
355,355,myitkyina,25.3833,97.4000,75.02,30,0,2.82,MM,1612496451
402,402,san juan,-31.5375,-68.5364,77.68,22,0,7.16,AR,1612496462
410,410,caravelas,-17.7125,-39.2481,76.50,85,0,7.36,BR,1612496464
434,434,simao,22.7886,100.9748,71.65,30,0,3.65,CN,1612496319
445,445,laibin,23.7000,109.2667,77.13,31,0,8.81,CN,1612496473
467,467,maceio,-9.6658,-35.7353,75.20,94,0,3.44,BR,1612496478
477,477,general roca,-39.0333,-67.5833,75.20,57,0,2.30,AR,1612496481
502,502,moron,-34.6534,-58.6198,73.00,60,0,1.99,AR,1612496486
532,532,jojoima,7.8792,-10.7878,71.78,95,0,2.21,SL,1612496493
560,560,bentiu,9.2333,29.8333,70.12,23,0,7.29,SS,1612496500

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [11]:
hotel_df = narrow_city_df[["City", "Country", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

             City Country      Lat       Lng Hotel Name
7           diphu      IN  25.8333   93.4333
78       takoradi      GH   4.8845   -1.7554
208      imbituba      BR -28.2400  -48.6703
236        iseyin      NG   7.9667    3.6000
345      oussouye      SN  12.4850  -16.5469
355     myitkyina      MM  25.3833   97.4000
402      san juan      AR -31.5375  -68.5364
410     caravelas      BR -17.7125  -39.2481
434         simao      CN  22.7886  100.9748
445        laibin      CN  23.7000  109.2667
467        maceio      BR  -9.6658  -35.7353
477  general roca      AR -39.0333  -67.5833
502         moron      AR -34.6534  -58.6198
532       jojoima      SL   7.8792  -10.7878
560        bentiu      SS   9.2333   29.8333

In [12]:
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}


for index, row in hotel_df.iterrows():
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    
    name_address = requests.get(base_url, params=params)
    
   
    name_address = name_address.json()
    
    
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

hotel_df

Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.
Missing field/result... skipping.

             City Country      Lat       Lng Hotel Name
7           diphu      IN  25.8333   93.4333
78       takoradi      GH   4.8845   -1.7554
208      imbituba      BR -28.2400  -48.6703
236        iseyin      NG   7.9667    3.6000
345      oussouye      SN  12.4850  -16.5469
355     myitkyina      MM  25.3833   97.4000
402      san juan      AR -31.5375  -68.5364
410     caravelas      BR -17.7125  -39.2481
434         simao      CN  22.7886  100.9748
445        laibin      CN  23.7000  109.2667
467        maceio      BR  -9.6658  -35.7353
477  general roca      AR -39.0333  -67.5833
502         moron      AR -34.6534  -58.6198
532       jojoima      SL   7.8792  -10.7878
560        bentiu      SS   9.2333   29.8333

In [13]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))